{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ partial "subheader.html" . }}
{{ $baseurl := .Site.BaseURL }}

<section id="main">
  <h1 itemprop="name" >{{ .Title }}</h1>
  {{ partial "meta_aside.html" . }}

  <div>
        <article itemprop="articleBody" id="content">
           {{ .Content }}
        </article>
  </div>
</section>

{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>

</body>