<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="zhk0OujHw0" />
    <meta name="keywords" content="程序员个人博客,python,机器学习,算法,数据挖掘,网站技术,读书,笔记,翻译">
    {{ partial "meta.html" . }}
    <meta name="google-site-verification" content="BHWZ_E95BFh9L12Z90adRkxTjXIxIGSQG4qiFkcLhUw" />
    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "subheader.html" . }}

<section id="main">
  <div>
      <h1 id="title">Carpe Diem</h1>
    {{ range .Data.Pages }}
      {{ if .Section}}
        {{ .Render "summary"}}
      {{ end }}
    {{ end }}
  </div>
</section>

<aside id="meta"> </aside>

{{ partial "footer.html" . }}
